// _Nav.scss

$border-color: #AFAFAF;
$background-color-light: #E1E1E1;
$navbar-background-color: white;
$search-background-color: #FAFAFA;
$upload-background-color: #0095FF;
$upload-color: white;
$title-and-channel-color: #323232;
$video-detail-border-color: #E1E1E1;

$medium-screen: 768px; // Define screen sizes as variables
$small-screen: 767px;
$desktop-screen: 1280px;

@mixin medium-screen {
    @media (min-width: rem($medium-screen)) and (max-width: rem($small-screen - 1)) {
        @content;
    }
}

@mixin small-screen {
    @media (max-width: rem($small-screen)) {
        @content;
    }
}

@mixin desktop-screen {
    @media (min-width: rem($desktop-screen)) {
        @content;
    }
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $navbar-background-color;
    padding: 1.25rem;
    

    &__left {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex: 1;    
        margin-left: 5rem;
    }

    &__middle {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex: 2;
    }

    &__middle-avatar {
        display: none;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        margin-left: 0.625rem;
    }

    &__right {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex: 0.5;
        padding-right: 5rem;
    }

    &__logo {
        margin-right: 1.875rem;
    }

    &__search {
        height: 40px;
        width: 250px;
        padding-left: 2.5rem;
        background-image: url('../../assets/Icons/search.svg');
        background-repeat: no-repeat;
        background-position: 0.625rem center;
        margin-right: 1.875rem;
        background-color: $search-background-color;
        border: 1px solid $border-color;
        border-radius: 4px;
        outline: none;
    }


    &__upload {
        height: 40px;
        min-width: 150px;
        padding: 0 2rem;
        border-radius: 4px;
        background-color: $upload-background-color;
        color: $upload-color;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url('../../assets/Icons/upload.svg');
        background-repeat: no-repeat;
        background-position: 0.625rem center;
        margin-right: 0.938rem;

        svg {
            fill: $upload-color;
            height: 100%;
            margin-right: 0.625rem;
        }
    }

    &__avatar {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        margin-left: 0.625rem;
    }

    @media screen and (min-width: 768px) and (max-width: 1279px) {
        &__search {
            width: 200px;
        }

        &__upload {
            min-width: 100px;
        }

        &__avatar {
            height: 40px;
            width: 40px;
        }

        &__right {
            padding-right: 0;
        }
    }

    @media screen and (max-width: 767px) {
        &__left {
            margin-left: 0;
        }

        flex-direction: column;
        padding: 0 0.625rem;

        &__left,
        &__middle,
        &__right {
            flex-direction: row;
            justify-content: center;
            margin-bottom: 0.625rem;
            width: 100%;
        }

        &__logo {
            margin-right: 0.625rem;
        }

        &__search {
            width: 90%;
            margin-right: 0;
            margin-left: 5%;
        }

        &__upload {
            min-width: 100px;
            width: 90%;
            margin-left: 5%;
            margin-right: 5%;
        }

        &__avatar {
            height: 40px;
            width: 40px;
            display: none;
        }

        &__middle-avatar {
            display: block;
            margin-left: 0.625rem;
        }

        &__right {
            padding-right: 0;
        }
    }

}
