@font-face {
    font-family: AvenirNext LT Pro;
    src: url('../../assets/Font/AvenirNextLTPro-Regular.otf') format('TrueType');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: AvenirNext LT Pro;
    src: url('../../assets/Font/AvenirNextLTPro-Bold.otf') format('TrueType');
    font-weight: 600;
    font-style: normal;
}