// _variables.scss
$base-font-size: 16px;
$medium-screen: 768px;
$small-screen: 767px;
$desktop-screen: 1280px;

// Mixins for responsive design
@mixin medium-screen {
    @media (min-width: rem($medium-screen)) and (max-width: rem($small-screen - 1)) {
        @content;
    }
}

@mixin small-screen {
    @media (max-width: rem($small-screen)) {
        @content;
    }
}

@mixin desktop-screen {
    @media (min-width: rem($desktop-screen)) {
        @content;
    }
}

