$border-color: #AFAFAF;
$background-color-light: #E1E1E1;
$navbar-background-color: white;
$search-background-color: #FAFAFA;
$upload-background-color: #0095FF;
$upload-color: white;
$title-and-channel-color: #323232;
$video-detail-border-color: #E1E1E1;