// _VideoPlayer.scss

$border-color: #AFAFAF;
$background-color-light: #E1E1E1;
$navbar-background-color: white;
$search-background-color: #FAFAFA;
$upload-background-color: #0095FF;
$upload-color: white;
$title-and-channel-color: #323232;
$video-detail-border-color: #E1E1E1;

$medium-screen: 768px;
$small-screen: 767px;
$desktop-screen: 1280px;

@mixin medium-screen {
    @media (min-width: rem($medium-screen)) and (max-width: rem($small-screen - 1)) {
        @content;
    }
}

@mixin small-screen {
    @media (max-width: rem($small-screen)) {
        @content;
    }
}

@mixin desktop-screen {
    @media (min-width: rem($desktop-screen)) {
        @content;
    }
}

.video-player {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $navbar-background-color;
    height: 80vh;
    width: 100%;
    overflow: hidden;
}

.video-player {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 80vh;
    width: 100%;
    overflow: hidden;

    @include medium-screen {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
  
    @include small-screen {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

.video-player__video {
    max-height: 100%;
    width: auto;
}

@media (max-width: 767px) {
    .video-player {
        height: auto;
    }
    .video-player__video {
        width: 100%;
        height: auto;
    }
}

.video-player__controls {
    position: absolute;
    bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $title-and-channel-color;
    height: 40px;
    width: 80%;
    padding: 0 0.625rem;
}










