// _comments.scss

$border-color: #AFAFAF;
$background-color-light: #E1E1E1;
$navbar-background-color: white;
$search-background-color: #FAFAFA;
$upload-background-color: #0095FF;
$upload-color: white;
$title-and-channel-color: #323232;
$video-detail-border-color: #E1E1E1;
$new-comment-bg-color: #FAFAFA;
$comment-button-bg-color: #0095FF;
$comment-button-color: white;

.comments {
    &__title {
        font-size: 1em;
        color: #323232;
        margin-bottom: 1em;
    }

    &__conversation {
        font-size: 14px;
        color: #AFAFAF;
        margin-bottom: -10px;
        margin-left: 70px;
        align-self: flex-end;
        font-weight: 300;
    }

    .new-comment-section {
        display: flex;
        align-items: center;
        padding: 1rem 0;
        border-bottom: 1px solid $border-color;

        &__avatar {
            height: 50px;
            width: 50px;
            border-radius: 50%;
            background-color: $background-color-light;
            margin-right: 1.5rem;
            background-image: url('../../assets/Images/Mohan-muruge.jpg');
            background-size: cover;
        }

        &__bar {
            flex-grow: 1;
            background-color: $new-comment-bg-color;
            display: flex;
            align-items: center;
            padding: 1rem;
            border-radius: 4px;

            &-input {
                flex-grow: 1;
                border: none;
                background-color: transparent;
                color: #323232;
            }
        }

        &__bar-button {
            background-color: $comment-button-bg-color;
            border: none;
            color: $comment-button-color;
            padding: 0.5rem 1rem;
            border-radius: 4px;
            display: flex;
            align-items: center;
            margin-left: 1rem;
            height: 40px;
            width: 150px;

            img {
                margin-right: 0.5rem;
            }
        }
    }

    .comment {
        border-bottom: 1px solid $border-color;
        padding-bottom: 0.625rem;
        margin-bottom: 0.625rem;
        display: flex;
        align-items: flex-start;

        .avatar {
            height: 50px;
            width: 50px;
            border-radius: 50%;
            background-color: $background-color-light;
            margin-right: 0.625rem;
            flex-shrink: 0;
            margin-top: 1.25rem;
        }

        .comment__content {
            display: flex;
            flex-direction: column;
            margin-right: 1.5rem;

            p {
                margin-bottom: 0;
            }

            .comment__header {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            .comment__text {
                margin-top: -0.625rem;
            }
        }   
    }
}







